/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000; /* Черный текст */
    background-color: #fafafa; /* Светлый фон */
}

header {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Стили секций */
.slider-section {
    margin: 20px auto;
    max-width: 80%;
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.slider-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.slider-container {
    display: flex;
    overflow: hidden;
    position: relative;
}

.slider-item {
    flex: 0 0 33.33%;
    text-align: center;
    transition: transform 0.5s ease-in-out;
    padding: 10px;
}

.slider-item img {
    width: 400px;
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.slider-item:hover img {
    transform: scale(1.1); /* Увеличение при наведении */
}

.slider-item .description {
    margin-top: 10px;
    font-size: 14px;
}

.slider-item .hashtag {
    color: #4CAF50;
    font-size: 12px;
    margin-top: 5px;
}

/* Управление слайдером */
.slider-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.slider-controls button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.slider-controls button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
