<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MotoCREW.org/Главная</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/styles_index.css"> 
</head>

<body>

    <header>
        <a href="{% url 'index' %}">
            <img src="../../../static/img/home_logo.svg" alt="Логотип">
        </a>
    </header>

    <div class="content">
        <h3>Список товаров</h3>
        <table>
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Тип</th>
                    <th>Цена</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                {% for p in products %}
                    <tr>
                        <td>{{ p.name }}</td>
                        <td>{{ p.type }}</td>
                        <td>{{ p.price }}</td>
                        <td>
                            <a href="/buy/{{ p.id }}" class="buy-button">
                                <i class="fa fa-shopping-cart"></i> Купить
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <footer>
        <img src="../../../static/img/footer_without_back.png" alt="Футер">
    </footer>

</body>
</html>
