<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Покупка</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/styles_purchase.css">
</head>

<body>
    <header>
        <a href="{% url 'index' %}">
            <img src="../../../static/img/home_logo.svg" alt="Логотип">
        </a>
    </header>

    <div>
        <h3>Покупка</h3>
        <form method="post">{% csrf_token %}
            <input type="hidden" name="product" value="{{ view.kwargs.product_id }}">
            <table>
                <tr>
                    <td><p>К уплате:</p></td>
                    <td>
                        <input type="text" name="total_amount" value="" readonly style="pointer-events: none;" />
                    </td>
                </tr>
                <tr>
                    <td><p>Ваше имя:</p></td>
                    <td><input type="text" name="person" required /></td>
                </tr>
                <tr>
                    <td><p>Адрес доставки:</p></td>
                    <td><input type="text" name="address" required /></td>
                </tr>
            </table>

            <div class="submit-button-container">
                <input type="submit" value="Оформить заказ" />
            </div>
        </form>
    </div>

    <footer>
        <img src="../../../static/img/footer_without_back.png" alt="Футер">
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const totalAmount = localStorage.getItem('totalAmount');
            if (totalAmount) {
                document.querySelector('input[name="total_amount"]').value = totalAmount;
            } else {
                alert('Ошибка: сумма заказа не найдена!');
            }
        });
    </script>
</body>
</html>
